* {
    padding: 0;
    margin: 0;
}
nav {
    background-color: #b1d9f6;
}

body {
    padding-top: 5%;
    background: linear-gradient(0deg, #5d6a70 0%, #bed9f4 100%);
}

.main {
    min-height: 100vh;
}
.rank {
    font-size: 2.3vh;
}

.comment {
    background-color: rgb(240, 244, 248);
    border-radius: 5px;
}
.validate {
    font-size: 2.5vh;
    font-weight: bold;
    color: red;
}

.follow {
    font-size: 20px;
}